# dependencies (bun install)
node_modules

# output
build
dist
out
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
*.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.*

# caches
.eslintcache
.cache
*.tsbuildinfo

# Finder (MacOS) folder config
.DS_Store

# AI
.agents
.claude
skills-lock.json

# IDEs
.cursor
.idea
.vscode
